body{
    width:100%;
    color: black;
    margin: 0 auto;
    text-align: center;
    font-family:arial;
}
header{
    font-size: 64px;
}
nav{
    height:32px;
    font-size: 24px;
    margin:0 auto;
}
a{
    text-decoration: none;
    color:gray;
    margin:0 20px;
}
a:hover{
    color:black;
}

footer {
   border-top:solid gray 1px;
   font-size: 24px;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   padding:20px 0;
}
